.button {
  background: #79c8c2;
  border: 2px solid #79c8c2;
  color: #fff;
  position: fixed;
  bottom: 90px;
  right: 20px;
  visibility: hidden;
  text-align: center;
  z-index: 100000;
  height: 50px;
  width: 50px;
  transition:
  background-color .1s linear,
  opacity .3s linear,
  visibility .3s linear;
  border-radius: 7px;
  cursor: pointer;
  font-size: 22px;
  padding: 0;
  opacity: 0;

  @media screen and (max-width: 990px) {
    right: 8px;
  }


  &_visible {
    visibility: visible;
    opacity: 1;
  }

  &:hover {
    background-color: #fff;
    color: #79c8c2;
  }
}